
<section class="container">
    <div class="card">
        <div class="blog-card">  
            <h3 class="card-title">{{title}}</h3>
         </div>
    </div>
    <a href="/blogs/{{id}}" class="'card-body">
    
    <div>
        <h5> Posted by{{user.username}} on {{date}}</h5>        
    </div>
        
    <div>
         <p class="'card-text">{{desc}}</p>
    </div>
  
    </a>
</section>

<script src="'/js/blog.js"></script>